/* Hero Section Styles */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10%;
  background: linear-gradient(to right, #f8f4f0, #ffffff);
  height: 90vh;
}

/* Text Content */
.heroContent {
  max-width: 500px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #3d2b1f;
}

.title span {
  color: #d4af37; /* Gold color */
}

.subtitle {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #555;
}

.booknow {
  margin-top: 20px;
}

/* Image */
.heroImage .image {
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.heroImage {
  position: absolute;
  width: 450px;
  height: 75vh;

  /* width: 300px; */
  /* height: 200px; */
}

.heroImageWrapper {
  width: 500px;
  height: 440px;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 40px 5%;
  }

  .heroImage {
    margin-top: 20px;
  }

  .title {
    font-size: 2rem;
  }
}
