.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 120px;
  margin-bottom: 60px; /* Pushes content below fixed header */
}
.geleStylesWrapper {
  overflow-y: scroll;
}
